{
  "openapi": "3.0.3",
  "info": {
    "title": "ePI message based SOR Integration API",
    "description": "This is the documentation of message based SOR Integration APIs Proposal",
    "contact": {
      "email": "sinica.alboaie@axiologic.net"
    },
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "SOR Integration Confluence documentation",
    "url": "https://pharmaledger.atlassian.net/wiki/spaces/ELECTRONIC/pages/220463142/SoR+Integration+APIs+Proposal"
  },
  "servers": [
    {
      "url": "https://red1.pladevs.com/"
    },
    {
      "url": "https://red2.pladevs.com/"
    }
  ],
  "tags": [
    {
      "name": "Products",
      "description": "Create and edit pharmaceutical products",
      "externalDocs": {
        "description": "Product JSON specifications",
        "url": "https://pharmaledger.atlassian.net/wiki/spaces/ELECTRONIC/pages/44793883/JSON+product+and+batch+specification"
      }
    },
    {
      "name": "Batches",
      "description": "Create and edit products batches",
      "externalDocs": {
        "description": "Batch JSON specifications",
        "url": "https://pharmaledger.atlassian.net/wiki/spaces/ELECTRONIC/pages/44793883/JSON+product+and+batch+specification"
      }
    },
    {
      "name": "Leaflets",
      "description": "Electronic Product Information"
    },
    {
      "name": "Messages",
      "description": "Integration messages to create or edit data"
    }
  ],
  "paths": {
    "/integration/{domain}/message": {
      "put": {
        "tags": [
          "Messages"
        ],
        "summary": "Create or update DSUs",
        "description": "Takes a JSON message and makes the updates to the DSUs and enterprise metadata database",
        "operationId": "digestMessage",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "The blockchain domain",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Create or update DSU",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Product"
                  },
                  {
                    "$ref": "#/components/schemas/Leaflet"
                  },
                  {
                    "$ref": "#/components/schemas/ProductImage"
                  },
                  {
                    "$ref": "#/components/schemas/Batch"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Pet not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      }
    },
    "/integration/{domain}/multipleMessages": {
      "put": {
        "tags": [
          "Messages"
        ],
        "summary": "Create or update DSUs",
        "description": "Takes a JSON message and makes the updates to the DSUs and enterprise metadata database",
        "operationId": "digestMultipleMessages",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "The blockchain domain",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updates a product's info, leaflet and/or image.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Product"
                    },
                    {
                      "$ref": "#/components/schemas/Leaflet"
                    },
                    {
                      "$ref": "#/components/schemas/ProductImage"
                    },
                    {
                      "$ref": "#/components/schemas/Batch"
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Pet not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      }
    },
    "/integration/{domain}/groupedMessages": {
      "put": {
        "tags": [
          "Messages"
        ],
        "summary": "Create or update DSUs",
        "description": "Takes a JSON message and makes the updates to the DSUs and enterprise metadata database",
        "operationId": "digestGroupedMessages",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "The blockchain domain",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updates a product's info, leaflet and/or image.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Product"
                    },
                    {
                      "$ref": "#/components/schemas/Leaflet"
                    },
                    {
                      "$ref": "#/components/schemas/ProductImage"
                    },
                    {
                      "$ref": "#/components/schemas/Batch"
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Pet not found"
          },
          "405": {
            "description": "Validation exception"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 10
          },
          "messageType": {
            "type": "string",
            "default": "Product"
          },
          "messageTypeVersion": {
            "type": "integer",
            "format": "int",
            "example": 1
          },
          "senderId": {
            "type": "string",
            "example": "SOR User"
          },
          "receiverId": {
            "type": "string",
            "example": "QPNVS"
          },
          "messageId": {
            "type": "string",
            "example": "S000001"
          },
          "messageDateTime": {
            "type": "string",
            "format": "date-time",
            "example": "2023-01-11T09:10:01CET"
          },
          "product": {
            "type": "object",
            "properties": {
              "productCode": {
                "type": "string",
                "maxLength": 14,
                "minLength": 14,
                "required": true,
                "example": "02113111111164"
              },
              "internalMaterialCode": {
                "type": "string",
                "example": ""
              },
              "inventedName": {
                "type": "string",
                "required": true,
                "example": ""
              },
              "nameMedicinalProduct": {
                "type": "string",
                "required": true,
                "example": ""
              },
              "strength": {
                "type": "string",
                "example": ""
              }
            }
          }
        }
      },
      "Batch": {
        "type": "object",
        "required": true,
        "properties": {
          "productCode": {
            "type": "string",
            "required": true
          },
          "batch": {
            "type": "string",
            "required": true
          },
          "expiryDate": {
            "type": "batchDate",
            "required": true
          },
          "packagingSiteName": {
            "type": "string"
          },
          "epiLeafletVersion": {
            "type": "number"
          },
          "flagEnableEXPVerification": {
            "type": "boolean"
          },
          "flagEnableExpiredEXPCheck": {
            "type": "boolean"
          },
          "batchMessage": {
            "type": "string"
          },
          "flagEnableBatchRecallMessage": {
            "type": "boolean"
          },
          "recallMessage": {
            "type": "string"
          },
          "flagEnableACFBatchCheck": {
            "type": "boolean"
          },
          "acfBatchCheckURL": {
            "type": "string"
          },
          "flagEnableSNVerification": {
            "type": "boolean"
          },
          "acdcAuthFeatureSSI": {
            "type": "string"
          },
          "snValidReset": {
            "type": "boolean"
          },
          "snValid": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "messageType": {
            "type": "string"
          },
          "messageTypeVersion": {
            "type": "number"
          },
          "senderId": {
            "type": "string"
          },
          "receiverId": {
            "type": "string"
          },
          "messageId": {
            "type": "string"
          },
          "messageDateTime": {
            "type": "string"
          }
        }
      },
      "Leaflet": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "required": true
          },
          "language": {
            "type": "string",
            "required": true
          },
          "productCode": {
            "type": "string",
            "required": true
          },
          "xmlFileContent": {
            "type": "string",
            "required": true
          },
          "otherFilesContent": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "required": true
                },
                "fileContent": {
                  "type": "string",
                  "required": true
                }
              }
            }
          },
          "messageType": {
            "type": "string"
          },
          "messageTypeVersion": {
            "type": "number"
          },
          "senderId": {
            "type": "string"
          },
          "receiverId": {
            "type": "string"
          },
          "messageId": {
            "type": "string"
          },
          "messageDateTime": {
            "type": "string"
          }
        }
      },
      "ProductImage": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "required": true
          },
          "imageData": {
            "type": "string",
            "required": true
          },
          "messageType": {
            "type": "string"
          },
          "messageTypeVersion": {
            "type": "number"
          },
          "senderId": {
            "type": "string"
          },
          "receiverId": {
            "type": "string"
          },
          "messageId": {
            "type": "string"
          },
          "messageDateTime": {
            "type": "string"
          }
        }
      },
      "AuditLog": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "itemCode": {
            "type": "string"
          },
          "diffs": {
            "type": "object"
          },
          "anchorId": {
            "type": "string"
          },
          "hashLink": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          },
          "logInfo": {
            "type": "object"
          }
        }
      }
    },
    "requestBodies": {}
  }
}